body { /* Basis stijlen voor de hele website */
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {/* Stijlen voor de header en navigatie */
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {/* Stijlen voor secties */
    padding: 2rem;
}

section h2 {
    margin-top: 0;
}

#about {/* Stijlen voor de About Me sectie */
    background: #f4f4f4;
    display: flex;
    align-items: flex-start;
    padding: 2rem;
}

#about .about-container {
    display: flex;
    width: 100%;
}

#about .profile-image {
    margin-right: 2rem;
}

#about img {
    border-radius: 50%;
    max-width: 150px;
}

#about .about-text {
    flex: 1;
}

#contact {
    background: #fff; /* achtergrond */
    text-align: center;
}

#contact a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #6c757d; /* Gray button */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

#contact a:hover {
    background: #5a6268;  
}

.binary-content {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.binary-text, .binary-link {
    flex: 1;
    margin-right: 1rem;
}

.binary-link {
    text-align: right;
}

.binary-link a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #6c757d; /* button  */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.binary-link a:hover {
    background: #5a6268; 
}

#compressietechnieken {
    background: #f4f4f4;
    padding: 2rem;
}

.playlist-section {/* Stijlen voor de playlist en videoknoppen */
    margin-top: 2rem;
    text-align: center;
}

.playlist-button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #6c757d; /*  button */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.playlist-button:hover {
    background: #5a6268; 
}

.video-section {
    margin-top: 2rem;
    text-align: center;
}

.video-button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #6c757d; /* button */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.video-button:hover {
    background: #5a6268; 
}

.image-section {
    text-align: right;
    margin: 2rem 0;
}

.image-section img {
    max-width: 150px;
    height: auto;
    position: absolute;
    top: 10px;
    right: 10px;
}

.text-with-image {/* Stijlen voor de Kleurmodellen pagina */
    position: relative;
}
.image {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 200px; /*  de grootte van de afbeelding */
    margin: 10px;
}
